<?xml version="1.0"?>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Boku.Web-20120731095941;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Boku.Web-20120731095941.mdf" />
    <add name="CloudBird" connectionString="Url=https://ec2-eu1.cloudbird.net/Databases/a6f1187c-f41d-4519-a6b5-dffbef7b9283.Boku;ApiKey=a2dd93f8-039a-45e7-af1b-4b2b1b3b1d9b" />
  </connectionStrings>

