<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Boku - Opskrifter og meget mere</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css", "~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/specific")
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="middle">
                <h1><a href="/" title="Home">Boku</a></h1>
			    <ul id="menu">
                        	<li class="menupop">
			                    <a href="/account/login/" class="submenu_link">Log ind / Opret Bruger</a>
			                    <ul class="submenu">
				                    <li><a href="/account/login/%2F">Log Ind</a></li>
				                    <li><a href="/account/register">Opret Bruger</a></li>
				                    <li><a href="/account/forgot-password/">Reset Password</a></li>
			                    </ul>
		                    </li>
		                    <li class="menupop" id="help">
		                    <a href="/site/faq/" class="submenu_link">Hjælp</a>
		                    <ul class="submenu"> 
			                    <li><a href="/">Om Boku</a></li>
			                    @*<li><a href="/site/faq/">Common Questions</a></li>*@
@*			                        <li><a href="/site/implement/">Developer Resources</a></li>
			                    <li><a href="http://blog.gravatar.com/">Read Our Blog</a></li>
			                    <li><a href="http://automattic.com/privacy/">Privacy Policy</a></li>
			                    <li><a href="/site/terms-of-service/">Terms of Service</a></li>
			                    <li><a href="/site/abuse/">Report Abuse</a></li>
*@		                        </ul>
	                    </li>
                    </ul>
                    </div>
            </div>
            <div id="overlay" style="display: none; height: 1208px; width: 1583px; "></div>
            <div id="main">
                <div class="middle">
                    <div class="box-top"></div>
                        <div class="box">
                            <div class="content">
                                @RenderSection("featured", required: false)
                                <section class="content-wrapper main-content clear-fix">
                                    @RenderBody()
                                </section>
                            </div>
                        </div>
                    <div class="box-bottom"></div>
                </div>
            </div>
            <div id="footer">

            </div>
        </div>
    </body>
</html>
