@{
    ViewBag.Title = "";
}

<div id="wrap">
    <div id="content-header">
        <div class="middle">
            <ul id="menu">
                <li class="menupop">
                        <a href="/account/logoff" class="submenu_link_content">Opskrifter</a>

                </li>
            </ul>
        </div>
    </div>
</div>




