@model Boku.Web.Models.RecipeModel

@{
    Layout = null;
}

<div class="row-fluid">
    <div class="span4">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/recipes/" class="submenu_link">Opskrifter</a>
            </li>
        </ul>
    </div>
    <div class="span8"></div>
</div>
