@if(Request.IsAuthenticated)
{
    <ul class="nav">
        <li>
            <a href="/account/logoff" class="submenu_link">Log ud</a>
        </li>
    </ul>
}
else
{
    <ul class="nav">
        <li>
            <a href="/account/register" class="submenu_link">Opret bruger</a>
        </li>
    </ul>
}

